<div class="container">
  <h1>Admin Panel</h1>
  <mat-form-field appearance="fill">
    <mat-label>Select Book</mat-label>
    <mat-select [(ngModel)]="selectedBook" (selectionChange)="onBookChange()">
      <mat-option *ngFor="let book of books" [value]="book">
        {{ book.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <table mat-table [dataSource]="reservations" class="mat-elevation-z8">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="reservationDate">
      <th mat-header-cell *matHeaderCellDef>Reservation Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.reservation_date | date : "medium" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="cancelReservation(element.id)">
          Cancel
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
